
/* .navigation {
  height: 55px;
  background: rgb(2, 2, 13);
}
.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 55px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a {
  color: #ffffff;
  text-decoration: none;
}
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 55px;
  color: #fff;
  background: #262626;
  text-decoration: none;
}
nav ul li a {
  background: transparent;
  color: #fff;
}
nav ul li a:hover {
  background: #2581dc;
  color: #ffffff;
}
.navbar-dropdown li a {
  background: #262626;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " \025BE";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.navbar-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  background: #fff;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.25);
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 55px;
  width: 70px;
} */

.head {
  font-family: "Alkatra", cursive;
  font-family: "Delicious Handrawn", cursive;
  font-size: 40px;
}

.icon {
  color: white;
  font-size: 35px;
  margin-right: 10px;
  margin-top: 5px;
}

/* navbar code end */

/* Table hover code */

tbody {
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Alkatra", cursive;
  font-family: "Delicious Handrawn", cursive;
  font-family: "Roboto Slab", serif;
}

thead tr {
  font-size: 200px;
  font-weight: bolder;
  font-size: xx-large;
}
tbody a:hover {
  color: #6366f1;
  font-size: large;
  font-weight: bold;
}

.h1payheader {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  font-weight: bolder;
  color: #2581dc !important;
}

a:active {
  color: #2581dc;
}

/* table hover code  */
#tablehover td:hover{
    color: #fff;
    background-color: #2581DC;
}
/* table hover code  */

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 55px;
  width: 70px;
}

.head {
  font-family: "Alkatra", cursive;
  font-family: "Delicious Handrawn", cursive;
  font-size: 40px;
}

.icon {
  color: white;
  font-size: 35px;
  margin-right: 10px;
  margin-top: 5px;
}
*/
 
/* ******************* */
/* navbar code end */
/* ******************* */


tbody a:hover {
  color: blue;
  font-weight: bold;
}



/* Sign up code start */

#signupid .text-gray-900{
    font-size: 25px;
    font-weight: bolder;
    
}
#signupid .text-gray-600{
   font-size: 20px;
   font-weight: bold;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Sign up code Finish */


/* table design code start  */

#tablehover .tracking-wider{
    font-size: 20px;
    font-weight: bold;
    color: black;
}
/* table design code end */


/* Payment form code start */
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  /* Payment form code end */
  
  /* Payment form code start 2 */

  #emailpremium #email{
  width: 470px;
 }

 #myInput{
  width: 470px;
 }

 #formid{
  align-items: center;
  margin-left: 50px;
 }

 .text-gray-600{
  font-size: 20px;
  color: black;
  font-weight: 200;
 }
  /* Payment form code end 2*/

/* premium page css start */

.text-gray-600 img{
  margin: 0 auto;
}
/* premium page css end */

/* Thank you page css Start */



#imgty{
  width: 80%;
  height: fit-content;
}


#pdftxtcolor{
  color: green;
  font-weight: bold;
}

.mb-8{
  margin-top: 50px;
  font-size: 40px;
}
/* Thank you page css end */

/* copy url css start */

.copyurlclass{
  margin-top: 20px;
}
/* copy url css end */



.cardcolor {
  width: 100% !important;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 15px;
  border: 10px solid black !important;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

 .cardcolor .text-gray-900{
  color: darkblue;
  font-size: 25px;
  font-weight: 900;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }



.cardcolor:hover{
  font-size: larger;
  /* color: whitesmoke !important;
  background-color: black !important; */
  
}
/* ion hover color code start */
.cardcolor:hover #mail{
color: purple !important;
}

.cardcolor:hover #instagram{
color:  #F56040 ;
}

.cardcolor:hover #discord{
color: hsl(235, 100%, 73%);
}

.cardcolor:hover #telegram{
color: lightblue;
}
/* ion hover color code end */

.cardcolor:hover .text-gray-900{
color: yellow;
}

.cardcolor ion-icon{
  color: black ;
}

.cardcolor p{
  color: black;
}
.cardcolor:hover p{
color: white;
}